{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

{{ 'component-header-drawer.css' | asset_url | stylesheet_tag }}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          {% comment %}
            <nav class="menu-drawer__navigation">
              <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                {%- for link in section.settings.menu.links -%}
                  <li>
                    {%- if link.links != blank -%}
                      <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                        <summary
                          id="HeaderDrawer-{{ link.handle }}"
                          class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                        >
                          {{ link.title | escape }}
                          <span class="svg-wrapper">
                            {{- 'icon-arrow.svg' | inline_asset_content -}}
                          </span>
                          <span class="svg-wrapper">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        </summary>
                        <div
                          id="link-{{ link.handle | escape }}"
                          class="menu-drawer__submenu has-submenu gradient motion-reduce"
                          tabindex="-1"
                        >
                          <div class="menu-drawer__inner-submenu">
                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                              <span class="svg-wrapper">
                                {{- 'icon-arrow.svg' | inline_asset_content -}}
                              </span>
                              {{ link.title | escape }}
                            </button>
                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                              {%- for childlink in link.links -%}
                                <li>
                                  {%- if childlink.links == blank -%}
                                    <a
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      href="{{ childlink.url }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  {%- else -%}
                                    <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                      <summary
                                        id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                        class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                      >
                                        {{ childlink.title | escape }}
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        <span class="svg-wrapper">
                                          {{- 'icon-caret.svg' | inline_asset_content -}}
                                        </span>
                                      </summary>
                                      <div
                                        id="childlink-{{ childlink.handle | escape }}"
                                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                      >
                                        <button
                                          class="menu-drawer__close-button link link--text focus-inset"
                                          aria-expanded="true"
                                        >
                                          <span class="svg-wrapper">
                                            {{- 'icon-arrow.svg' | inline_asset_content -}}
                                          </span>
                                          {{ childlink.title | escape }}
                                        </button>
                                        <ul
                                          class="menu-drawer__menu list-menu"
                                          role="list"
                                          tabindex="-1"
                                        >
                                          {%- for grandchildlink in childlink.links -%}
                                            <li>
                                              <a
                                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                                href="{{ grandchildlink.url }}"
                                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                                {% if grandchildlink.current %}
                                                  aria-current="page"
                                                {% endif %}
                                              >
                                                {{ grandchildlink.title | escape }}
                                              </a>
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                    </details>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                      </details>
                    {%- else -%}
                      <a
                        id="HeaderDrawer-{{ link.handle }}"
                        href="{{ link.url }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                        {% if link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ link.title | escape }}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </nav>
            <div class="menu-drawer__utility-links">
              {%- if shop.customer_accounts_enabled -%}
                <a
                  href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                  class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                  rel="nofollow"
                >
                  {%- if section.settings.enable_customer_avatar -%}
                    <account-icon>
                      {%- if customer and customer.has_avatar? -%}
                        {{ customer | avatar }}
                      {%- else -%}
                        <span class="svg-wrapper">
                          {{- 'icon-account.svg' | inline_asset_content -}}
                        </span>
                      {%- endif -%}
                    </account-icon>
                  {%- else -%}
                    <span class="svg-wrapper">
                      {{- 'icon-account.svg' | inline_asset_content -}}
                    </span>
                  {%- endif -%}
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </a>
              {%- endif -%}
              {%- if localization.available_countries or localization.available_languages -%}
                <div class="menu-drawer__localization header-localization">
                  {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                    <localization-form>
                      {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                            {{ 'localization.country_label' | t }}
                          </h2>
                          {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {% endif %}

                  {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                    <localization-form>
                      {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {%- endif -%}
                </div>
              {%- endif -%}
              <ul class="list list-social list-unstyled" role="list">
                {%- if settings.social_twitter_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-twitter.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-facebook.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-pinterest.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-instagram.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-tiktok.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-tumblr.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-snapchat.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-youtube.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <li class="list-social__item">
                    <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                      <span class="svg-wrapper">
                        {{- 'icon-vimeo.svg' | inline_asset_content -}}
                      </span>
                      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </div>
          {% endcomment %}

          <div class="mb-drawer-header">
            <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
              {%- if settings.logo != blank -%}
                <div class="header__heading-logo-wrapper">
                  {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                  {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                  {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                  {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                  {{
                    settings.logo
                    | image_url: width: 600
                    | image_tag:
                      class: 'header__heading-logo',
                      widths: widths,
                      height: logo_height,
                      width: settings.logo_width,
                      alt: logo_alt,
                      sizes: sizes,
                      preload: true
                  }}
                </div>
              {%- else -%}
                <span class="h2">{{ shop.name }}</span>
              {%- endif -%}
            </a>

            <svg
              class="close-mb-menu-btn"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
            >
              <path d="M8.53329 25.3332L6.66663 23.4665L14.1333 15.9998L6.66663 8.53317L8.53329 6.6665L16 14.1332L23.4666 6.6665L25.3333 8.53317L17.8666 15.9998L25.3333 23.4665L23.4666 25.3332L16 17.8665L8.53329 25.3332Z" fill="white" fill-opacity="0.87"/>
            </svg>
          </div>

          <div class="mb-drawer-navigation">
            <ul class="mb-drawer-menu">
              {%- for link in section.settings.menu.links -%}
                <li class="mb-first-menu">
                  <div class="mb-first-menu-row {% if link.links != blank %} menu-pull-down {% endif %}">
                    <div class="mb-first-menu-title">
                      {% if link.links == blank %}
                        <a href="{{ link.url }}">
                      {% endif %}

                      {{ link.title | upcase }}

                      {% if link.links == blank %}
                        </a>
                      {% endif %}
                    </div>

                    {% if link.links != blank %}
                      {{- 'icon-menu-arrow.svg' | inline_asset_content -}}
                    {% endif %}
                  </div>

                  {% assign linkTitle = link.title | upcase %}

                  {% if linkTitle == 'PRODUCTS' %}
                    <div class="mb-secondary-menu">
                      <div class="product-collection-lists">
                        {%- for childlink in link.links -%}
                          {% assign group = forloop.index | modulo: 4 %}
                          <a class="collection-item-link" href="{{ childlink.url }}">
                            <img
                              src="{{  childlink.title | handle | append:".webp" | prepend:"nav-" | file_url  }}"
                              loading="lazy"
                              width="124"
                              height="100"
                            >
                            <div class="collection-item-title">{{ childlink.title | capitalize }}</div>
                          </a>
                          {% if group == 0 %}<div class="collection-item--line"></div>{% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% elsif linkTitle == 'BLOG' %}
                    <div class="mb-secondary-menu">
                      <ul class="blog-menu-lists">
                        {%- for childlink in link.links -%}
                          <li class="article-item">
                            <a href="{{ childlink.url }}">
                              <div class="article-item-content">
                                <div class="article-item-title">{{ childlink.title }}</div>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="10"
                                  height="16"
                                  viewBox="0 0 10 16"
                                  fill="none"
                                >
                                  <path d="M9.2751 8.22657L1.7751 15.7266L0.725098 14.6766L7.1751 8.22657L0.7251 1.77657L1.7751 0.726568L9.2751 8.22657Z" fill="#7E7E7E"/>
                                </svg>
                              </div>
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% elsif linkTitle == 'CONTACT US' %}
                    <div class="mb-secondary-menu">
                      <ul class="contact-us-lists">
                        {% for block in section.blocks %}
                          {% if block.type == 'text' %}
                            {%- for childlink in link.links -%}
                              {% assign image_variable = 'image_' | append: forloop.index %}
                              <li class="contact-us-item">
                                <a href="{{ childlink.url }}">
                                  <img
                                    src="{{ block.settings[image_variable] | img_url: '300x'}}"
                                    width="80"
                                    height="60"
                                    alt="{{ block.settings[image_variable].alt }}"
                                  >
                                  <div class="contact-title">{{ childlink.title }}</div>
                                </a>
                              </li>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}
                    <div class="mb-secondary-menu">
                      <ul class="mb-secondary-menu-other">
                        {%- for childlink in link.links -%}
                          <li class="mb-secondary-menu-title">
                            <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                </li>

                <div class="mb-first-menu-line"></div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
